*{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    height: 100vh;
    grid-template-columns:20% 60% 20% ;
    grid-template-rows: 20% 70% 10% ;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e e e";
}

.a{
    grid-area: a;
    background: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b{
    grid-area: b;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c{
    grid-area: c;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d{
    grid-area: d;
    background: gray;
}

.e{
    grid-area: e;
    background: black;
}

.menu{
    width: 100px;
    height: 50px;
    background: darksalmon;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin: 10px;

}

.tytul{
    font-size: 50px;
}